@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
html, body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: inherit;
}
body {
    background-color: rgb(251, 245, 240);
    color: rgba(0, 0, 0, 0.87);
    unicode-bidi: isolate;
    display: block;
    font-family: 'Roboto Mono', 'Sanchez', 'Playfair Display', serif, sans-serif, monospace;
}
.main {
    display: block;
}
.layout {
    display: flex;
}
.sidebar {
    width: 320px;
    min-width: 320px;
    height: 100vh;
    padding: 24px;
    background-color: rgb(251, 245, 240);
    flex-shrink: 0;
    z-index: 1;
    position: sticky;
}
.sidebar::after {
    display: block;
    position: absolute;
    right: 0px;
    content: '';
    width: 1px;
    height: auto;
    top: 32px;
    bottom: 32px;
    background-color: rgba(0, 0, 0, 0.12);
}
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 32px 32px 0px;
}
article {
    width: 100%;
    height: 100%;
}
.mapContainer {
    background-color: rgb(134, 95, 46);
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    display: inline-flex;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: background-color 360ms ease, transform 360ms ease;
    align-items: center;
    flex-shrink: 0;
    font-family: Roboto Mono;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    overflow: hidden;
}
button.button-lg {
    width: auto;
    height: 56px;
    padding: 12px;
}
button.icon-button {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
button.inline {
    background-color: rgba(255, 255, 255, 0);
}
button.icon-button .buttonBase {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    opacity: 0;
    background-color: #FFD200;
    transform: scale(0);
    transition: transform 320ms ease, opacity 200ms ease;
}
button.icon-button:hover .buttonBase {
    transform: scale(1);
    opacity: 1;
    transition: transform 360ms ease, opacity 360ms ease;
}
.icon {
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
button.button-lg .icon {
    width: 32px;
    min-width: 32px;
    min-height: 32px;
}